body { border: 5px solid green;}

.purple { border: 5px solid purple;}

#orange { border: 5px solid orange;}

.red { border: 5px solid red;}

.blue { border: 5px solid blue;}

.thinblack { border: 1px solid black;}

.yellow {border: 5px solid yellow;}
